Repository mrc2rules/AsusTUF-Help-Guide, pull requests merged in 2025-06, with the labels that each got.

#13 Add workflow for stale issues/pr
  .github/workflows/stale.yml
Labels: qol

#17 Update Pre-installation.md
  linux/english-en/linux/Pre-installation.md
Labels: addition, en-US, linux

#20 Update installing-linux.md
  linux/romanian-ro/SUMMARY.md
  linux/romanian-ro/linux/installing-linux.md
Labels: ro-RO, linux

#24 Create Debloating Windows.md
  windows/english-en/SUMMARY.md
  windows/english-en/basics/Debloating Windows.md
Labels: en-US, windows

#23 Update Romanian translation
  windows/romanian-ro/SUMMARY.md
  windows/romanian-ro/getting-started/quickstart.md
  windows/romanian-ro/maintenance/cleaning-your-laptop.md
  windows/romanian-ro/repairing/before-you-start.md
  windows/romanian-ro/windows/change-boot-logo.md
  windows/romanian-ro/windows/display-driver-uninstaller-guide-ddu.md
Labels: ro-RO, windows
